.post-header {
  display: flex;
  margin: 0 auto;
  padding: 20px 20px 10px;
  max-width: 740px;

  :global(.avatar) {
    flex: 0 0 auto;
    align-self: center;
  }

  .text {
    flex: 1 1 auto;
    padding-left: 15px;
    font-size: 16px;
    line-height: 20px;

    .title {
      a {
        color: var(--color-font-primary);

        &:hover {
          text-decoration: underline;
        }
      }

      .follow {
        display: none;
      }
    }

    .descr {
      color: var(--color-font-secondary);
      max-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .meta {
      color: var(--color-font-secondary);
    }
  }
}

@media (min-width: 768px) {
  .post-header {
    padding-top: 35px;
    
    .text {
      .title {
        .follow {
          display: inline-block;
          margin-left: 10px;
        }
      }
    }
  }
}
