$color-font-primary: rgba(0, 0, 0, .84);
$color-font-secondary: rgba(0, 0, 0, .54);
$color-devider-light_gray: rgba(0,0,0,.10);

$color-link-text: #1C9963;
$color-btn-border: #02B875;

// $padding-content-mobile: 16px;
// $padding-content-desktop: 24px;
