// *,
// h1, h2, h3, h4, h5, h6 {
//   margin: 0;
//   padding: 0;
// }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: $color-link-text;
}

ul {
  list-style: none;
}
