header.page {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid $color-devider-light_gray;
  background-color: $color-bg-white-transparent;

  .inner {
    @include make-center();
    
    display: flex;
    align-items: center;
    height: 56px;

    .link-set {
      // flex-item props
      flex: 1 1 auto;
      // flex-container props
      display: flex;
      align-items: center;

      .logo {
        display: block;
        width: 45px;
        height: 45px;
        fill: $color-font-primary;
      }

      .devider {
        margin-left: 15px;
        margin-right: 20px;
        border-left: 1px solid $color-image-border;
        height: 24px;
      }

      .avatar {
        align-self: center;

        img {
          display: block;
          width: 30px;
          height: 30px;
          border-radius: 3px;
        }
      }

      .btn.follow,
      .twitter {
        display: none;
      }

      .btn.follow {
        margin-left: 18px;
      }

      .twitter {
        position: relative;
        top: -1px;
        margin-left: 8px;
        height: 25px;
        fill: $color-font-secondary;

        &:hover {
          fill: $color-font-secondary-hover;
        }
      }
    }

    .actions {
      .sign-in {
        display: none;
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  header.page {
    .inner {
      height: 65px;

      .link-set {
        .devider {
          height: 28px;
        }

        .avatar {
          img {
            width: 32px;
            height: 32px;
          }
        }

        .btn.follow,
        .twitter {
          display: block;
        }
      }

      .actions {
        .sign-in {
          display: inline-block;
          margin-right: 11px;
        }
      }
    }
  }
}
