.posts {
  @include make-center();

  padding-top: 30px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .posts {
    display: grid;
    grid-template-columns: repeat(3, [col-start] 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 30px;
    padding-bottom: 55px;
  }
}