:root {
  --color-font-primary: rgba(0, 0, 0, .84);
  --color-font-secondary: rgba(0, 0, 0, .54);
  --color-font-secondary-hover: rgba(0, 0, 0, .68);
  --color-font-sub-primary: rgba(0, 0, 0, .76);

  --color-image-border: rgba(0, 0, 0, .15);
  --color-devider-light_gray: rgba(0, 0, 0, .10);
  --color-bg-code: rgba(0, 0, 0, .05);
  --color-bg-white-transparent: rgba(255, 255, 255, .97);

  --color-link-text: #1C9963;
  --color-btn-border: #02B875;

  --height-header-mobile: 57px;
  --height-header-desktop: 66px;
}
