.post-meta {
  @include make-center($width: 700px);

  .user-info {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .author {
      padding-left: 15px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .input-fields {
    padding-top: 30px;

    input {
      margin-top: 10px;
      border: none;
      width: 100%;
      font-family: 'medium-content-serif-font', serif;
      font-size: 18px;
      line-height: 1.58;
      letter-spacing: -.004em;
    }

    .title {
      margin-top: 31px;
      margin-left: -2.13px;
      padding-top: 5px;
      font-family: 'medium-content-sans-serif-font', sans-serif;
      font-weight: 600;
      font-size: 34px;
      line-height: 1.3;
      letter-spacing: -.015em;
    }

    .subtitle {
      font-style: italic;
    }

    .img-url {
      color: $color-font-secondary;
    }
  }
}

@media (min-width: 768px) {
  .post-meta {
    .user-info {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    .post-actions {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .input-fields {
      .title {
        margin-top: 39px;
        margin-left: -2.63px;
        font-size: 42px;
      }

      .subtitle,
      .big-img-url {
        font-size: 21px;
        letter-spacing: -.003em;
      }
    }
  }
}
