.input-fields {
  input[type=text] {
    margin-top: 10px;
    border: none;
    width: 100%;
    font-family: 'medium-content-serif-font', serif;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: -.004em;

    &.title {
      margin-top: 31px;
      margin-left: -2.13px;
      padding-top: 5px;
      font-family: 'medium-content-sans-serif-font', sans-serif;
      font-weight: 600;
      font-size: 34px;
      line-height: 1.3;
      letter-spacing: -.015em;
    }

    &.subtitle {
      font-style: italic;
    }

    &.img-url {
      color: var(--color-font-secondary);
    }
  }

  div:first-child input[type=text] {
    margin-top: 0;
  }

  .is-large-preview {
    margin-top: 11px;
    
    label {
      color: var(--color-font-secondary);
      user-select: none;

      input[type=checkbox] {
        margin-right: 11px;
        vertical-align: middle;
      }
    }
  }
}

@media (min-width: 768px) {
  .input-fields {
    input[type=text] {
      &.title {
        margin-top: 39px;
        margin-left: -2.63px;
        font-size: 42px;
      }

      &.subtitle {
        font-size: 21px;
        letter-spacing: -.003em;
      }
    }
  }
}
