article {
  .content {
    .post-image {
      margin-top: 20px;
      margin-bottom: 52px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }

      figcaption {
        @include make-center($padding: 30px);

        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        line-height: 1.4;
        color: $color-font-secondary-hover;
        text-align: center;

        a {
          color:inherit;
          text-decoration: underline;
        }
      }
    }

    .post-text {
      @include make-center($width: 700px);

      padding-bottom: 40px;
      font-family: 'medium-content-serif-font', serif;
      font-size: 18px;
      line-height: 1.58;
      letter-spacing: -.004em;

      h1,
      h3,
      h4 {
        font-family: 'medium-content-sans-serif-font', sans-serif;
      }

      h1.title {
        margin-top: 31px;
        margin-left: -2.13px;
        padding-top: 5px;
        font-size: 34px;
        line-height: 1.04;
        letter-spacing: -.015em;
      }

      h3 {
        margin-top: 28px;
        margin-left: -1.88px;
        font-size: 30px;
        line-height: 1.15;
        letter-spacing: -.015em;
      }

      h4 {
        margin-top: 22px;
        margin-left: -1.5px;
        font-size: 24px;
        line-height: 1.22;
        letter-spacing: -.012em;
      }

      p {
        margin-top: 21px;
      }

      h1 + p {
        margin-top: 10px;
      }

      h3 + p {
        margin-top: 8px;
      }

      h4 + p {
        margin-top: 6px;
      }

      a {
        color: inherit;
        text-decoration: underline;
      }

      code {
        margin: 0 2px;
        padding: 3px 4px;
        background-color: $color-bg-code;
        font-family: Menlo,Monaco,"Courier New",Courier,monospace;
        font-size: 14px;
      }

      pre {
        margin-top: 35px;
        padding: 20px;
        background-color: $color-bg-code;
        font-family: Menlo,Monaco,"Courier New",Courier,monospace;
        font-size: 14px;
        line-height: 1.4;
        white-space: pre-wrap;

        code {
          margin: 0;
          padding: 0;
          background-color: transparent;
          font-family: inherit;
        }
      }

      ul {
        margin-top: 21px;
        list-style-type: disc;

        li {
          margin-left: 30px;
          margin-bottom: 14px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      blockquote {
        margin-top: 21px;
        margin-left: -20px;
        border-left: 3px solid $color-font-primary;
        padding-left: 17px;
      }
    }
  }
}

@media (min-width: 768px) {
  article {
    .content {
      .post-image {
        margin-bottom: 80px;
      }

      .post-text {
        font-size: 21px;
        letter-spacing: -.003em;

        h1.title {
          margin-top: 39px;
          margin-left: -2.63px;
          font-size: 42px;
        }

        h3 {
          margin-top: 56px;
          margin-left: -2.13px;
          font-size: 34px;
        }

        h4 {
          margin-top: 30px;
          margin-left: -1.63px;
          font-size: 26px;
        }

        p {
          margin-top: 29px;
        }

        code {
          font-size: 16px;
        }

        pre {
          margin-top: 43px;
          font-size: 16px;
        }

        ul {
          margin-top: 29px;
        }

        blockquote {
          margin-top: 29px;
          margin-left: -23px;
          padding-left: 20px;
          padding-bottom: 2px;
        }
      }
    }
  }
}
